---
import { type CollectionEntry } from "astro:content";

import DraftIndicator from "../blog/DraftIndicator.astro";
import MastheadDates from "../blog/MastheadDates.astro";
import MastheadDescription from "../blog/MastheadDescription.astro";
import MastheadTags from "../blog/MastheadTags.astro";

interface Props {
	content: CollectionEntry<"note">;
}

const { content } = Astro.props;

const { publishDate, tags, title, description, draft } = content.data;
---

<div class="flex items-end md:sticky md:top-8 md:z-10">
	<h1
		class="title ml-2 line-clamp-none md:sticky md:top-4 md:z-20 md:line-clamp-1 md:max-w-[calc(100%-10rem)]"
		title={title}
		data-pagefind-body
	>
		{title}
	</h1>
</div>

<MastheadDates
	publishDate={publishDate}
	updatedDate={undefined}
	readingTime={content.rendered?.metadata?.frontmatter?.readingTime}
/>

<DraftIndicator draft={draft} />
{description && <MastheadDescription description={description} />}
<MastheadTags tags={tags} />
