---
import Badge from "@/components/Badge.astro";
import Tag from "@/components/Tag.astro";
import { Icon } from "astro-icon/components";

interface Props {
	tags: string[];
	postSeries?: { title: string; id: string } | undefined | null;
}

const { tags, postSeries } = Astro.props;
---

<div class="mt-4 flex flex-wrap items-center gap-2 mx-1">
	{/* Tags */}
	{
		tags?.length ? (
			<>
				{tags.map((tag) => (
					<a aria-label={`View all posts with the tag: ${tag}`} href={`/tags/${tag}`}>
						<Tag variant="accent-two" title={tag} />
					</a>
				))}
			</>
		) : (
			<span class="text-sm text-lightest">No tags</span>
		)
	}

	{/* Series */}
	{
		postSeries && (
			<div class="flex items-center gap-2">
				<Icon
					aria-hidden="true"
					class="flex-shrink-0 inline-block h-6 w-6 text-accent-base"
					focusable="false"
					name="solar:notes-line-duotone"
				/>
				<a
					aria-label={`About ${postSeries.title} series`}
					href={`/series/${postSeries.id}`}
					class="flex items-center gap-2 flex-wrap"
				>
					<Badge variant="accent-base" showHash={false} title={postSeries.title} />
				</a>
			</div>
		)
	}
</div>
